/* v3 Updated 3.25.16 */

body {
  max-height: 600px;
  width: 750px;
}

div {
  box-sizing: border-box;
}

*,.tab:hover{
  background-color: transparent!important;
}

.tab{
  color:#e99499!important;
}

.qs_wrapper {
  float: left;
  width: 100%;
  margin: 0 0 4px 0;
  padding-left: 10px;
}

.qs_input::placeholder {
  color: #a3676b;
}
.qs_input {
  margin: 1px 0 0 0;
  height: 10px;
  width: 97%;
  display: block;
  float: left;
  color: #e99499;
  background-color: #0C0909;
  border: 1px solid #DC282E;
}

.tab, .bookmark, div.separator.big {
  border: 1px solid #0C0909;
  padding: 1px;
  margin-right: 2.3%;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px
  box-shadow: 2px 2px 5px #1F0503;
  width: 31%;
  float: left;
  display: inline;
  /*color: rgb(32,61,116);*/
  clear: none;
  font-weight: 500;
  overflow: hidden;
  height: 3em;
}

div.tabimage img {
  vertical-align: middle;
  padding: 4px;
  padding-left: 0;
}

div.content {
  margin: 4px 0;
  padding: 0;
  padding-left: 10px;
  float: left;
  height: 600px;
  width: 100%;
}

.highlight {
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

.withfocus {
  background-color: #8F2020;
}

div.closed {
  background-image: none;
  opacity: .6;
  color: #e99499;
}

div.closed.withfocus {
  background-color: #9E1D21;
}

div.closed.withfocus div.title {
  background-color: transparent;
}

div.url {
  color: #a3676b;
  width: 71%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.close {
  float: right;
  display: inline;
  opacity: .5;
  border: 1px solid #D98A8E;
  background-color: #0C0909;
  border-radius: 3px;
  top: 0 !important;
  right: 0 !important;
}

div.withfocus.open div.close {
  top: 0 !important;
  right: 0 !important;
}

div.close:hover {
  opacity: 1;
  background-color: #FA2D34 !important;
}

.title {
  overflow: hidden;
  width: 71%;
}

div.separator.big {
  color: #e99499;
  height: 2em;
  font-size: 12px;
  background-color: #0C0909;
  padding: 0;
  width: 97%
}

div.separator.big:before, div.separator.big:after {
  content: "▼";
}

div.separator.big span {
  vertical-align: baseline;
}

.withfocus div.title, div.closed.withfocus div.title, .withfocus div.url {
  background-color:transparent;
  color: #FFA2A7;
}

div.tabimage img {
  background-color: transparent;
}

.bookmark div {
  background-color: #2E0A0A;
}

.bookmark {
  background-color: #0C0909;
  border-top: 1px solid #e99499;
}

.withfocus {
  background-color: #991612!important;
  color: #FFA2A7;
}
