[Unit]
Description=Logitech G560 speaker led controller daemon
After=multi-user.target

[Service]
ExecStart=/home/j3w1/bin/g560d
Type=simple
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=G560_LED

[Install]
WantedBy=multi-user.target
